@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --container-width: 1200px;
    --container-padding: 36px;
    --gray: #65758B;
    --dark: #0F1729;
    --white: #F9F9F9;
    --blue: #2662D9;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
}

.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

.header {
    background-color: #1D1D1D;
    height: 80px;
}

.nav {
    text-align: right;
    white-space: nowrap;
    line-height: 80px;
    font-weight: 400;
    font-size: 20px;
}

.nav__logo {
    vertical-align: middle;
    float: left;
    height: 62px;
}

.nav__logo-text {
    display: inline-block;
    color: var(--white);
    margin-left: 25px;
}
.nav__logo img {
    vertical-align: middle;
    width: 62px;
    height: 62px;
}

.nav__list {
    display: inline-block;
    vertical-align: middle;
}

.nav__list li {
    display: inline-block;
    margin-left: 40px;
}

.nav__list a {
    text-decoration: none;
    color: var(--white);
}

/* Home Page */

.home__main {

}

.welcome {
    height: 903px;
    background: url("../img/home/home-bakground.png") no-repeat center;
    background-size: cover;
    margin-bottom: 109px;
}

.welcome__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--white);
    width: 100%;
}

.welcome__text h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 20px;
}

.welcome__text p {
    margin-bottom: 20px;
}

.learn-more {
    margin-bottom: 128px;
}

.learn-more__text {
    text-align: center;
    width: 697px;
    font-size: 18px;
    margin: 0 auto 64px;
    color: var(--gray);
}

.learn-more__text h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 11px;
    color: var(--dark);
}

.learn-more__blocks {
    display: inline-block;
    align-items: center;
}

.blocks__content {
    display: inline-block;
    margin-right: 34px;
    width: 242px;
}
.blocks__content h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.blocks__content p {
    color: var(--gray);
    line-height: 25px;
    margin-bottom: 15px;
}


.blocks__content a {
    color: var(--blue);
}

/* Biography Page */

.biography__main {

}

.biography-content {
    padding-top: 33px;
}

.biography-content__left {
    text-align: left;
    display: inline-block;
}
.biography-content__left h1 {
    margin-bottom: 46px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;

}
.biography-content__left p {
    width: 564px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}

.biography-content__right {
    margin-top: 100px;
    float: right;
    width: 518px
}

/* Group Page */

.group__main {

}

.group-content {
    padding-top: 33px;
    margin-bottom: 109px;
}

.group-content__title {
    display: flex;
    column-gap: 12px;
    align-items: baseline;
}
.group-content__title img {
    width: 28px;
    height: 28px;
}
.group-content__title h1 {
    margin-bottom: 46px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
}
.group__wrapper {
    height: 303px;
}
.group-content__left {
    text-align: left;
    display: inline-block;
}

.group-content__left p {
    width: 564px;
    margin-bottom: 24px;
    margin-right: 85px;
    font-size: 18px;
}

.group-content__right {
    float: right;
    width: 454px
}

.group-schedule {
    margin-bottom: 128px;
}

.group-schedule__text {
    text-align: center;
    width: 697px;
    font-size: 18px;
    margin: 0 auto 64px;
    color: var(--gray);
}

.group-schedule__title {
    display: flex;
    align-items: baseline;
    justify-content: center;
    column-gap: 12px;
}

.group-schedule__title img {
    width: 28px;
    height: 28px;
}
.group-schedule__title h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 11px;
    color: var(--dark);
    line-height: 1;
}

.group-schedule__blocks {
    display: flex;
    column-gap: 25px;
}

.schedule__content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 201px;
    height: 190px;
    padding: 19px 6px 11px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.schedule__content h3 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

/* Hobby Page */

.hobby__main {
}

.hobby-content {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.hobby-title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 576px;
    text-align: center;
    margin: 0 auto;
    padding-top: 27px;
}

.hobby-title h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.hobby-title p {
    font-size: 18px;
    color: var(--gray);
}

.hobby__blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 71px;
    row-gap: 35px;
    align-items: center;
    justify-content: center;
}

.hobby__blocks-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 277px;
    height: 153px;
    padding: 16px 12px 0;
}

.hobby__blocks-content h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.hobby__blocks-content p {
    color: var(--gray);
}

.hobby-programming {
    background-color: #EFF6FF;
}

.hobby-basketball {
    background-color: #FAF5FF;
}

.hobby-bicycle {
    background-color: #F0FDF4;
}

.hobby-walk {
    background-color: #FEFCE8;
}

.hobby-chess {
    background-color: #FEF2F2;
}

.hobby-football {
    background-color: #FFF7ED;
}

/* Interesting Page */

.interesting__main {
}

.interesting-content {
    display: flex;
    flex-direction: column;
    row-gap: 52px;
}

.interesting-title {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 576px;
    text-align: center;
    margin: 0 auto;
    padding-top: 27px;
}

.interesting-title h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.interesting-title p {
    font-size: 18px;
    color: var(--gray);
}

.interesting__blocks {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    align-items: center;
    justify-content: center;
}

.interesting__blocks-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 349px;
    height: 142px;
    padding-top: 16px;
    padding-left: 11px;
}

.interesting__blocks-content h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.interesting__blocks-content p {
    color: var(--gray);
    line-height: 26px;
}